@model TawredatProject.Models.HomePageModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>عرض المنتجات </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">المنتجات </a></li>
                    <li class="breadcrumb-item active">عرض المنتجات </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>اسم المنتج </th>
                                <th>وصف المنتج</th>
                                <th>سعر المنتج</th>
                                <th>قسم المنتج</th>
                                <th>بداية الخصم</th>
                                <th>نهاية الخصم</th>
                                <th>نسبة الخصم</th>
                                <th>سعر المنتج بعد الخصم</th>
                                <th>التاريخ</th>
                                <th>تعديل</th>
                               
                                <th>حذف</th>
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstProducts)
                            {

                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>
                                        @item.ProductDescription
                                    </td>
                                    <td>
                                        @item.ProductPrice
                                    </td>
                                    <td>
                                        @item.ProductCategoryName
                                    </td>
                                     <td>
                                        @item.StartDate
                                    </td>
                                     <td>
                                        @item.EndDate
                                    </td>
                                    <td>
                                        @item.DiscountPercent
                                    </td>
                                    <td>
                                        @item.ProductNewPrice
                                    </td>
                                    <td>
                                        @item.CreatedDate
                                    </td>

                                  
                                  
                                    <td>
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Form" asp-route-id="@item.ProductId" class="btn btn-info text-white" style="cursor:pointer">
                                            تعديل
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger text-white" style="cursor:pointer">
                                            حذف
                                        </a>
                                    </td>
                                  
                                   
                                </tr>

                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>اسم المنتج </th>
                                <th>وصف المنتج</th>
                                <th>سعر المنتج</th>
                                <th>قسم المنتج</th>
                                <th>بداية الخصم</th>
                                <th>نهاية الخصم</th>
                                <th>نسبة الخصم</th>
                                <th>سعر المنتج بعد الخصم</th>
                              
                                <th>تعديل</th>

                                <th>حذف</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
