@model TawredatProject.Models.HomePageModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>عرض التقييمات لرجال التوصيل</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">التقييمات لرجال التوصيل </a></li>
                    <li class="breadcrumb-item active">عرض التقييمات لرجال التوصيل </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>اسم الذي يقوم بعملية التقييم</th>
                                <th>صورة الذي يقوم بعملية التقييم</th>
                                <th>اسم الذي يتم تقييمه  </th>
                                <th>صورة الذي يتم تقييمه  </th>
                                <th>نص التقييم </th>
                                <th>عدد النجوم </th>
                              
                                <th>التاريخ  </th>
                              
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstEvaluationDeliveries)
                            {

                                <tr>
                                    <td>@item.CreatedBy</td>
                                   
                                    <td style="width:10%">

                                        <img style="max-width: 100%; " max-height: 100%;" src="@string.Format("/Uploads/{0}",item.UpdatedBy)" alt="Img placeholder">





                                    </td>
                                    <td>
                                        @item.DeliveryName
                                    </td>
                                    <td style="width:10%">

                                        <img style="max-width: 100%; " max-height: 100%;" src="@string.Format("/Uploads/{0}",item.Notes)" alt="Img placeholder">





                                    </td>
                                    <td>
                                        @item.DeliveryEvaluationText
                                    </td>
                                  
                                    <td>
                                        @item.CreatedDate
                                    </td>

                                
                                   
                                </tr>

                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>اسم الذي يقوم بعملية التقييم</th>
                                <th>صورة الذي يقوم بعملية التقييم</th>
                                <th>اسم الذي يتم تقييمه  </th>
                                <th>صورة الذي يتم تقييمه  </th>
                                <th>نص التقييم </th>
                                <th>عدد النجوم </th>

                                <th>التاريخ  </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
