@model TawredatProject.Models.HomePageModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>عرض سلة المشتريات  </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">سلة المشتريات   </a></li>
                    <li class="breadcrumb-item active">عرض سلة المشتريات   </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>اسم الشخص </th>
                                <th>اسم المنتج </th>
                                <th>صورة المنتج   </th>
                                <th>اسم التاجر     </th>
                                <th>عدد  النجوم     </th>
                               
                                <th>سعر المنتج </th>
                                <th>اقصي كمية  للبيع </th>
                                <th>   بروموكود </th>
                                <th>بداية الخصم   </th>
                                <th>نهاية الخصم   </th>
                                
                                <th>السعر بعد  الخصم   </th>
                              
                                <th>التاريخ  </th>
                              
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstPurchasingCarts)
                            {

                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                   
                                    <td style="width:10%">

                                        <img style="max-width: 100%; " max-height: 100%;" src="@string.Format("/Uploads/{0}",item.ProductImage)" alt="Img placeholder">





                                    </td>
                                    <td>
                                        @item.SupplierName
                                    </td>
                                   
                                    <td>
                                        @item.ProductEvaluationStarts
                                    </td>
                                    
                                    <td>
                                        @item.ProductPrice
                                    </td>
                                    <td>
                                        @item.ProductMaximumSale
                                    </td>
                                    <td>
                                        @item.Promocode
                                    </td>
                                     <td>
                                        @item.StartDate
                                    </td>
                                    <td>
                                        @item.EndDate
                                    </td>
                                   
                                    <td>
                                        @item.ProductPriceAfterDiscount
                                    </td>
                                  
                                    <td>
                                        @item.CreatedDate
                                    </td>

                                
                                   
                                </tr>

                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>اسم الشخص </th>
                                <th>اسم المنتج </th>
                                <th>صورة المنتج   </th>
                                <th>اسم التاجر     </th>
                                <th>عدد  النجوم     </th>
                               
                                <th>سعر المنتج </th>
                                <th>اقصي كمية  للبيع </th>
                                <th>   بروموكود </th>
                                <th>بداية الخصم   </th>
                                <th>نهاية الخصم   </th>
                              
                                <th>السعر بعد  الخصم   </th>

                                <th>التاريخ  </th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
