@model TawredatProject.Models.HomePageModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>عرض العناوين</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">العناوين</a></li>
                    <li class="breadcrumb-item active">عرض العناوين</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>اسم صاحب العنوان</th>
                                <th> خطوط الطول</th>
                                <th>خطوط العرض</th>
                                
                                <th>اسم الشارع</th>
                                <th>اسم المنطقة</th>
                                <th>اسم المدينة</th>
                                @*<th>اسم الدولة</th>*@
                                <th>عنوان رئيسي</th>
                                <th> رقم التليفون</th>
                                <th>تعديل</th>

                                <th>حذف</th>
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstAddresses)
                            {

                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        @item.Addresslongitude
                                    </td>
                                    <td>
                                        @item.AddressLatitude
                                    </td>
                                     <td>
                                        @item.AddressStreet
                                    </td>
                                     <td>
                                        @item.AddressArea
                                    </td>
                                    <td>
                                        @item.AddressCity
                                    </td>
                                  @*  <td>
                                        @item.AddressCountry
                                    </td>*@
                                    <td>
                                        @item.MainAddress
                                    </td>
                                    <td>
                                        @item.PhoneNumber
                                    </td>

                                
                                    <td>
                                        <a asp-area="Admin" asp-controller="Address" asp-action="Form" asp-route-id="@item.AddressId" class="btn btn-info text-white" style="cursor:pointer">
                                            تعديل
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Address" asp-action="Delete" asp-route-id="@item.AddressId" class="btn btn-danger text-white" style="cursor:pointer">
                                            حذف
                                        </a>
                                    </td>
                                  
                                   
                                </tr>

                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>اسم صاحب العنوان</th>
                                <th> خطوط الطول</th>
                                <th>خطوط العرض</th>

                                <th>اسم الشارع</th>
                                <th>اسم المنطقة</th>
                                <th>اسم المدينة</th>
                            @*    <th>اسم الدولة</th>*@
                                <th>عنوان رئيسي</th>
                                <th> رقم التليفون</th>
                                <th>تعديل</th>

                                <th>حذف</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
